* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Arial Black';
}

body {
    background-color: #1c1c1c;
}

/*  Tekst  */

.main-header {
    font-size: 3.125rem;
    text-align: center;
    padding-top: 3.125rem;
}


/* navbar CSS*/

.navbar {
    font-family: 'Arial Black';
    height: 8.125rem;
    width: 100%;
    background-color: #1c1c1c;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1.875rem;
}

.logo {
    color: white;
    display: flex;
    height: 4.5rem;
    margin-left: 1.5rem;
}

.navbar ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0.625rem 1.25rem;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    position: relative;
}
.navbar ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.3rem;
    bottom: 0;
    left: 0;
    background-color: #EA3B30;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.navbar ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navbar ul li a:hover {
    color: #EA3B30;
    transition: .3s;
}


/*  Forside Greie */

#forside-start {
    text-align: center;
    height: 59.375rem;
    background-color: #10213e;
}

#start-text-container {
    margin: 0;
    padding: 0;
    float: left;
    padding-top: 20rem;
    padding-left: 3rem;
}

#start-bilde {
    float: right;
}


/*våre biler CSS  */ 
.våre_biler_tekst{
    width: 100%;
    margin-top: 0.5rem;
    font-size: 4rem;
    position: absolute;
    display: flex;
    justify-content: center;
}

#manuel {
    padding-top: 1.5rem;
}

/* CSS bokser på biler siden */
.bil_annonser {
    display: flex;
}

.annonse {
    background: white;
    margin: 1vw;
    border-radius: 15px;
}

.annonse_bilde {
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

.car-1 {
    background-image: url('./Bilder/Tesla_Våre_merker.jpeg');
}

.car-2 {
    background-image: url('mclaren-p1-070.jpg');
}

.car-3 {
    background-image: url('amg.jpg');
}

.annonse h2 {
    padding: 10px;
}

.annonse p {
    padding: 10px;
}

.annonse a {
    background-color: black;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 1vw 1vw;
    text-decoration: none;
}

.annonse:hover {
    background-color:#ea1538;
    cursor: pointer;
    transform: scale(1.1);
    transition: all 1s ease;
}

.tekst_biler_boks {
    display: flex;
}