@import url("https://use.typekit.net/gam8srr.css"); /*  futura-pt  */

* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Arial Black';
    min-width: 12%;
}

body {
    background-color:#1c1c1c;
    width: 100vw;
}

/*  Tekst  */

.main-header {
    font-size: 3.125rem;
    text-align: center;
    padding-top: 3.125rem;
}

/*forside presentasjon til de ulike sidene css*/
.bildeogtekst1, .bildeogtekst2, .bildeogtekst3 {
    display: flex;
    flex-direction: row;
}

.bildeogtekst1 {
    background-color: white;
}

.bildeogtekst2 {
    background-color: #B3B3B3;
}

.bilderogtekst {
    color: black;
    display: flex;
    flex-direction: column;
}

.omossbilde {
    width: 51%;
}

.understrek {
    text-decoration: underline;
    text-decoration-color: black;
    color: black;
    font-size: 3.4375rem;
}

.undertekst {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: black;
}

.introduksjonsbilde {
    margin: 4rem;
    width: 110rem;
}

.tekst {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
}

/* navbar CSS*/
.navbar {
    font-family: 'Arial Black';
    height: 8.125rem;
    width: 100%;
    background-color: #1c1c1c;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1.875rem;
}

.logo {
    color: white;
    display: flex;
    height: 4rem;
    margin-left: 1.5rem;
    width: 12rem;
    background-image: url('./Bilder/Prime\ Wheels\ Logo\ Rod.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#navbar-logo {
    background-image: url('./Bilder/Prime\ Wheels\ Logo\ Hvit.png');
    display: flex;
    height: 4.5rem;
    width: 12rem;
    margin-left: 1.5rem;
    z-index: 10;
    background-size: contain;
    background-repeat: no-repeat;
}

#navbar-logo:hover {
    background-image: url('./Bilder/Prime\ Wheels\ Logo\ Rod.png');
    transition: .3s;
}

.navbar ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0.625rem 1.25rem;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    position: relative;
}
.navbar ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.3rem;
    bottom: 0;
    left: 0;
    background-color: #EA3B30;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.navbar ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navbar ul li a:hover {
    color: #EA3B30;
    transition: .3s;
}


/*  Forside Greie */

#forside-start {
    text-align: center;
    height: 59.375rem;
    background-color: #10213e;
    overflow: hidden;
}

#start-text-container {
    padding: 0;
    float: left;
    margin: 6rem;
}

#start-bilde {
    float: right;
    margin-right: -12rem;
    width: 94.625rem;
}

#start-header {
    font-size: 5rem;
}

#start-under-header {
    font-size: 2.5rem;
}

/*våre biler CSS  */ 
.våre_biler_tekst{
    width: 100%;
    margin-top: 0.5rem;
    font-size: 4rem;
    position: absolute;
    display: flex;
    justify-content: center;
}

#manuel {
    padding-top: 1.5rem;
}

/* CSS bokser på biler siden */
.bil_annonser {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.annonse {
    background: black;
    margin: 1rem;
    border-radius: 15px;
    width: 54.625rem;
    height: 26.375rem;  
}

.annonse_bilde {
    background-size: cover;
    border-radius: 15px;
    height: 26.375rem;
    opacity: 80%;
}

.car-1 {
    background-image: url('./Bilder/Tesla_Våre_merker.jpeg');
}

.car-2 {
    background-image: url('./Bilder/Lamborghini_våre_merker.jpeg');
}

.car-3 {
    background-image: url('./Bilder/Porsche_våre_merker.jpeg');
}

.car-4 {
    background-image: url('./Bilder/Ferrari_våre_merker.jpeg');
}

.annonse h2 {
    padding: 10px;
}

.annonse p {
    padding: 10px;
}

.annonse a {
    background-color: black;
    color: black;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 1vw 1vw;
    text-decoration: none;
}

.annonse:hover {
    opacity: 75%;
    cursor: pointer;
    transform: scale(1.05);
    transition: all 1s ease;
}

.overskrift_biler_boks {
    font-size: 4.5rem;
}

.avsnitt_biler_boks {
    font-size: 2.5rem;
    margin-left: 1rem;
}

/* SLIDESHOW CSS*/ 
.slider {
    display: grid;
    place-items: center;
    height: 15.625rem;
    margin: auto;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slider-images {
    display: flex;
    width: calc(15.625rem * 18);
    animation: scroll 40s linear infinite;
}

.slider-images:hover {
    transition: ease-in;
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-15.625rem * 9));
    }
}

.slide {
    height: 12.5rem;
    width: 15.625rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    perspective: 6.25rem;
}

.slide-image {
    width: 100%;
}

.slide-image:hover {
    transform: translateZ(1.25rem);
    transition: 1s;
    transform: scale(1.1);
}

.slider::before,
.slider::after {
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}

.slider::before {
    left: 0;
    top: 0;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}